@import url(//db.onlinewebfonts.com/c/c84b5b87b5078891f799caed87c2237e?family=Atland+BB);
a,
a:focus,
a:hover {
  color: #fff;
}
@font-face {font-family: "Atland BB"; src: url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.eot"); src: url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.woff") format("woff"), url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c84b5b87b5078891f799caed87c2237e.svg#Atland BB") format("svg"); }
h1
{
  font-size: 97px;
}
.lead2
{
  font-size: 50px;
}
.lead3
{
  color: rgb(255, 255, 47);
}
.lead4
{
  color: rgb(130, 130, 191);
}
.lead5
{
  color: darkslategrey;
}
.lead6
{
  color: rgb(255, 255, 47);
}
.lead7
{
  color: crimson;
}
.lead8
{
  color: rgb(235, 190, 190);
}
.lead9
{
  color: rgb(235, 190, 190);
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
  font-size: 30px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  color: rgb(22, 20, 20);
  text-shadow: 0 .05rem .1rem rgba(234, 202, 202, 0.5);
  font-family:"Atland BB";
}

.cover-container {
  max-width: 120em;
}


.cover {
  padding: 0 1.5rem;
  width: 50em;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#page {
  visibility: hidden;
}

#reveal-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: all 1s; */
}

body {
  background: #fff;
}

body.loaded {
  background: url("https://salmon-beach-0761a6110.1.azurestaticapps.net/fleabg.webp"), rgb(251, 255, 17);
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body.loaded #page {
  visibility: visible;
}

body.loaded #reveal-effect {
  opacity: 1;
}

body.revealed #reveal-effect {
  display: none;
}